<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap-responsive.min.css">
	<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/ie.css">
		<![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="/cdn/bootstrap/js/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/cdn/css/frame.css">
	<link rel="stylesheet" type="text/css" href="/cdn/css/user.css">
	<link rel="stylesheet" type="text/css" href="/cdn/css/vendor/jquery.Jcrop.min.css">
	<link rel="shortcut icon" href="/cdn/img/ico/favicon.ico">

	<script type="text/javascript" src="/cdn/js/vendor/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/cdn/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/layer/layer.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/laydate/laydate.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/jquery.Jcrop.min.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/jquery.form.min.js"></script>
</head>


<body>

	<div class="box">
		<% include left.html %>
		<% include head.html %>
		<div class="viewbtnbox" style="display: block;padding-top:25px">
			<legend>设置头像</legend>
			<br>
			<div class="form-horizontal">
	
				  <div class="row-fluid myform">
				    <label class="control-label span3" style="height:100px">头像：&nbsp;&nbsp;</label>
				    <div class="controls">
				     <form id="uploadForm" enctype="text/html" action = "/account/setting_avater" method = "post" >
						<div class="upAvater">
							<div class="btngroup" style="margin-top:7px">
								<div class="btnwarp">
									<input type="file" id="avater" class="fileava" name="avater" / >
									<button type="button" class="btn btn-primary">
									<% if(!userInfo.avater){ %>
										上传头像
									<%}else{%>
										修改头像
									<%}%>
									</button>
									
								</div>
								
							</div>
							
							<div class="row-fluid avaterlist">
								<% if(!userInfo.avater){ %>
								<img src="/cdn/img/avater/128x128/defalut.png" alt="" id="pice_big" class="pull-left">
								<img src="/cdn/img/avater/96x96/defalut.png" alt="" id="pice_big" class="pull-left">
								<img src="/cdn/img/avater/64x64/defalut.png" alt="" id="pice_small" class="pull-left">
								<img src="/cdn/img/avater/32x32/defalut.png" alt="" id="pice_ico" class="pull-left">
								<%}else{%>
								<img src="/uploads/avater/128x128/<%= userInfo.avater %>" alt="" id="pice_big" class="pull-left">
								<img src="/uploads/avater/96x96/<%= userInfo.avater %>" alt="" id="pice_big" class="pull-left">
								<img src="/uploads/avater/64x64/<%= userInfo.avater %>" alt="" id="pice_small" class="pull-left">
								<img src="/uploads/avater/32x32/<%= userInfo.avater %>" alt="" id="pice_ico" class="pull-left">
								<%}%>
							</div>
							
						</div>
					</form>
				    </div>
				  </div>
			</div>
		</div>
		<% include foot.html %>
	</div>

	<script type="text/javascript" src="/cdn/js/views/account_setting_avater.js">
		
	</script>
</body>

</html>
