<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap-responsive.min.css">
	<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/ie.css">
		<![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="/cdn/bootstrap/js/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/cdn/css/frame.css">
	<link rel="stylesheet" type="text/css" href="/cdn/css/user.css">
	<link rel="stylesheet" href="/cdn/js/vendor/layer/skin/layer.css">
	<link rel="shortcut icon" href="/cdn/img/ico/favicon.ico">
	<script src="/cdn/js/vendor/require.js" data-main="/cdn/js/main"></script>

	
</head>


<body>

	<div class="box">
		<% include left.html %>
		<% include head.html %>
		<div class="viewbtnbox" style="display: block;padding-top:25px">
			<legend>个人信息设置</legend>
			<br>
			<form class="form-horizontal" id="account_submit" enctype="text/html" action = "/account/mysave" method = "post" >
				<div class="row-fluid myform">
				    <label class="control-label span3">用户名：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <span style="line-height: 40px"><%= userInfo.username %></span>
				    </div>
				  </div>
				  <div class="row-fluid myform">
				    <label class="control-label span3">邮箱：&nbsp;&nbsp;</label>
				    <div class="controls">
				    	<span style="line-height: 40px">
				    		<%= userInfo.email %>
				    		<% if(userInfo.email_verify==0){ %>
							&nbsp;&nbsp;&nbsp;&nbsp;该邮箱没有验证<a href="javascript:void(0)" id="verifyEmail">[去验证]</a>
					  		<%}else{%>
					  		&nbsp;&nbsp;&nbsp;&nbsp;[验证通过]
					  		<%}%>
				    	</span>

				    </div>
				  </div>
				  <div class="row-fluid myform">
				    <label class="control-label span3" for="job">职业：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text"  id="job" name="job" placeholder="职业" value="<%= userInfo.job %>">
				    </div>
				  </div>
				  <div class="row-fluid myform">
				    <label class="control-label span3" for="real_name">姓名：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text"  id="real_name" name="real_name" placeholder="真实姓名" value="<%= userInfo.real_name %>">
				    </div>
				  </div>
				  <div class="row-fluid myform">
				    <label class="control-label span3" for="gender">性别：&nbsp;&nbsp;</label>
				    <div class="controls">
				    	<div class="row radusbox">
				    		<% if(userInfo.gender==0){ %>
				    		<label class="radio pull-left">
				            	<input type="radio" name="gender" id="optionsRadios1" value="0" checked="">男
				            </label>
				            <label class="radio pull-left">
				            	<input type="radio" name="gender" id="optionsRadios1" value="1">女
				            </label>
				    		<% }else{ %>
				    		<label class="radio pull-left">
				            	<input type="radio" name="gender" id="optionsRadios1" value="0" >男
				            </label>
				            <label class="radio pull-left">
				            	<input type="radio" name="gender" id="optionsRadios1" value="1" checked="">女
				            </label>
				    		<% } %>
				    	</div>
				    </div>
				  </div>
				  <div class="row-fluid myform">
				    <label class="control-label span3" for="brithday">生日：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text" id="brithday" name="brithday" placeholder="选择生日" value="<%= userInfo.brithday %>" >  
				    </div>
				  </div>


				  <div class="row-fluid myform">
				    <label class="control-label span3" for="website">网址：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text" id="website" name="website" placeholder="网址如:http://www.red.com" value="<%= userInfo.website %>"> 
				    </div>
				  </div>

				  <div class="row-fluid myform">
				    <label class="control-label span3" for="location">所在地区：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text" id="location" name="location" placeholder="所在的区域如：北京" value="<%= userInfo.location %>"> 
				    </div>
				  </div>

				  <div class="row-fluid myform">
				    <label class="control-label span3" for="weixin">微信：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text"  id="weixin" name="weixin" placeholder="真实微信号"  value="<%= userInfo.weixin %>"> 
				    </div>
				  </div>

				  <div class="row-fluid myform">
				    <label class="control-label span3" for="qq">QQ：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text" id="qq" name="qq" placeholder="常用QQ号" value="<%= userInfo.qq %>"> 
				    </div>
				  </div>

				  <div class="row-fluid myform">
				    <label class="control-label span3" for="tel">电话：&nbsp;&nbsp;</label>
				    <div class="controls">
				      <input type="text" id="tel" name="tel" placeholder="常用手机号"  value="<%= userInfo.tel %>">
				    </div>
				  </div>
				  <div class="row-fluid myform">
				    <label class="control-label span3" for="aignature">个性签名：&nbsp;&nbsp;</label>
				    <div class="controls">
				    	<textarea name="aignature" id="" maxlength=254 cols="30" id="aignature" rows="10" class="input-xxlarge"  placeholder="请输入签名" value="<%= userInfo.aignature %>"><%= userInfo.aignature %></textarea>
				    </div>
				  </div>
				  <input type="hidden" name="account_id" value="<%= userInfo.account_id %>">
				  <div class="row-fluid myform">
				    <label class="control-label span3" for="inputEmail">&nbsp;&nbsp;</label>
				    <div class="controls">
				     	<span class="rowbox">
				     		<div class="row-fluid">
				     			<div class="input-xxlarge">
				     				<button class="btn btn-large btn-block btn-primary" id="setSelfMsg" type="button">保存个人信息</button>
				     			</div>
				     		</div>
				     	</span>
				    </div>
				  </div>
			</form>
		</div>
		<% include foot.html %>
	</div>



	<script>
		require(["modules/account_setting_info"],function(F){
			F.set("<%= userInfo.email %>");
		})
	</script>

	
</body>

</html>
