	<style type="text/css">
	.has-error{
		color:red;
	}
	.has-error .label{
		color:red;
	}
	.has-error .controls input{
		border-color: #ff0000;
	}
	.controls .log{
		display: none;
	}
	.has-ok{
		color:red;
	}
	.has-ok .label{
		color:#00ff00;
	}
	.has-ok .controls input{
		
	}
	.has-ok .controls .log{
		color: #009900;
	}

	.jcrop-holder #preview-pane {
	  display: block;
	  position: absolute;
	  z-index: 2000;
	  right: -120px;
	  top: 0px;
	  padding: 3px;
	  border: 1px  solid #eeeeee;
	  background-color: white;
	}

	.btnbox{
		  display: block;
		  /*position: absolute;*/
		/*  z-index: 2000;
		  left: 13px;
		  margin-top:13px;*/
	}

	/* The Javascript code will set the aspect ratio of the crop
	   area based on the size of the thumbnail preview,
	   specified here */
	#preview-pane .preview-container {
	  width: 100px;
	  height: 100px;
	  overflow: hidden;
	}
	.avapicebox{
		padding: 20px;
		position: relative;
		overflow: hidden;
	}
	.jcrop-keymgr{
		opacity: 0;
	}
</style>

<div>
	<div class="avapicebox">
		<img src="/uploads/cover/origin/<%= src %>" id="target" />
	</div>
	<div class="btnbox text-center" style="text-align:center">

		<button class="btn btn-large btn-primary"  id="comfirmUpload">确认上传</button>
	</div>
	<input type="hidden" id="pice" value="<%= src %>">
	<input type="hidden" id="x">
	<input type="hidden" id="picename" value="<%= picename %>">
	
	<input type="hidden" id="y">
	<input type="hidden" id="w">
	<input type="hidden" id="h">
	

</div>



<script type="text/javascript">
	    // Create variables (in this scope) to hold the API and image size
	    $(function(){
	    	var jcrop_api,
	        boundx,
	        boundy,
	        // Grab some information about the preview pane
	        preview = $('#preview-pane'),
	        pcnt = $('#preview-pane .preview-container'),
	        pimg = $('#preview-pane .preview-container img'),

	        xsize = 40,
	        ysize = 25;

		    $('#target').Jcrop({
		      onChange: updatePreview,
		      onSelect: updatePreview,
		      setSelect: [ 10, 10, 10 , 10 ],
		      aspectRatio: xsize / ysize
		    },function(){
		      // Use the API to get the real image size
		      var bounds = this.getBounds();
		      boundx = bounds[0];
		      boundy = bounds[1];
		 

		      jcrop_api = this;
		      jcrop_api.animateTo([20,20,$("#target").width()-40,$("#target").height()-40]);
		      // Store the API in the jcrop_api variable


		      // Move the preview into the jcrop container for css positioning
		      preview.appendTo(jcrop_api.ui.holder);
		    });

		    function updatePreview(c)
		    {
		      if (parseInt(c.w) > 0)
		      {
		        var rx = xsize / c.w;
		        var ry = ysize / c.h;
		        $("#x").val(c.x);
		        $("#y").val(c.y);
		        $("#w").val(c.w);
		        $("#h").val(c.h);
		        pimg.css({
		          width: Math.round(rx * boundx) + 'px',
		          height: Math.round(ry * boundy) + 'px',
		          marginLeft: '-' + Math.round(rx * c.x) + 'px',
		          marginTop: '-' + Math.round(ry * c.y) + 'px'
		        });
		      }
		    };

		    $("#comfirmUpload").on("click",function(){
		    	data={
		    		x:$("#x").val(),
		    		y:$("#y").val(),
		    		w:$("#w").val(),
		    		h:$("#h").val(),
		    		pice:$("#pice").val(),
		    		picename:$("#picename").val()
		    	}
		    	$.ajax({
		    		url:"/account/makeCover",
		    		type:"POST",
		    		data:data,
		    		success:function(data){
		    			layer.msg(data);

		    			$("#showCover").show().attr("src","/uploads/cover/45x28/"+$("#pice").val());

		    			$("#art_pice").val($("#pice").val())
		    			
		    			
		    			setTimeout(function(){
		    				 // window.location.reload();
	    					layer.closeAll()
		    				
		    			},1000);
		    		},
		    		error:function(){
		    			layer.alert("失败");
		    		}
		    	})
		    })

		 
	    })
	    
</script>


