<!DOCTYPE html>
<html lang="en" style="background:none;">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8" >
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="/cdn/admin/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/cdn/admin/bootstrap/css/bootstrap-responsive.min.css">
	<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/cdn/admin/bootstrap/css/ie.css">
		<![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="/cdn/admin/bootstrap/js/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/cdn/admin/css/frame.css">
	<link rel="stylesheet" type="text/css" href="/cdn/admin/css/user.css">
	<link rel="stylesheet" type="text/css" href="/cdn/css/vendor/jquery.Jcrop.min.css">
	<link rel="shortcut icon" href="/cdn/admin/img/ico/favicon.ico">

	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>
	<script type="text/javascript" src="/cdn/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/layer/layer.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/jquery.Jcrop.min.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/jquery.form.min.js"></script>
</head>


<body style="background:none;">

	<!-- <div class="box">
		 <img src="/cdn/img/demo_files/sago.jpg" id="target" alt="[Jcrop Example]" />
		 <div id="preview-pane">
		    <div class="preview-container">
		      <img src="/cdn/img/demo_files/sago.jpg" class="jcrop-preview" alt="Preview" />
		    </div>
		  </div>
	</div> -->

	<form id="uploadForm" enctype="text/html" action = "/demo/demo" method = "post" >
		<input type="file" id="avater" name="avater" / >
	</form>
	<script type="text/javascript">
		$("#avater").on("change",function(){
			layer.load()
			$("#uploadForm").ajaxSubmit({
				error:function(xhr){
					console.log('Error: '+ xhr.status);
				},
				success:function(response){
					layer.closeAll('loading');
					layer.open({
						title:"头像设置",
				        type: 1,
				        maxmin: true,
				        area: ['90%',"90%"],
				        shadeClose: true, //点击遮罩关闭
				        content: response.toString()
				    });
				    $("#avater").val("");
					console.log(response.toString());
				}
			});
			return false ;

		})
	</script>
	
</body>

</html>

