<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap-responsive.min.css">
	<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/ie.css">
		<![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="/cdn/bootstrap/js/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/cdn/css/frame.css">
	<link rel="stylesheet" type="text/css" href="/cdn/css/user.css">
	<link rel="shortcut icon" href="/cdn/img/ico/favicon.ico">
	<style type="text/css">
		.has-error{
			color:red;
		}
		.has-error .label{
			color:red;
		}
		.has-error .controls input{
			border-color: #ff0000;
		}
		.controls .log{
			display: none;
		}
		.has-ok{
			color:red;
		}
		.has-ok .label{
			color:#00ff00;
		}
		.has-ok .controls input{
			
		}
		.has-ok .controls .log{
			color: #009900;
		}
		
	</style>

	<script type="text/javascript" src="/cdn/js/vendor/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/cdn/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/cdn/js/vendor/layer/layer.js"></script>
</head>


<body>

	<div class="box">
		<% include left.html %>
		<% include head.html %>

			<div class="viewbtnbox" style="display: block;padding-top:25px">
				<form class="form-horizontal" id="register">
					<div class="row-fluid myform">
						<label class="control-label span6" for="username">用户名：&nbsp;&nbsp;</label>
						<div class="controls">
							<input type="text" id="username" class="input-danger" placeholder="注册之后不能修改长度5-8位">
							<span class="log">fdsfsdfds</span>
						</div>
					</div>
					<div class="row-fluid myform">
						<label class="control-label span6" for="password">密码：&nbsp;&nbsp;</label>
						<div class="controls">
							<input type="password" id="password" placeholder="密码长度5-18位">
							<span class="log"></span>
						</div>

					</div>
					<div class="row-fluid myform">
						<label class="control-label span6" for="password1">确认密码：&nbsp;&nbsp;</label>
						<div class="controls">
							<input type="password" id="password1" placeholder="确认密码">
							<span class="log"></span>
						</div>
					</div>
					<div class="row-fluid myform">
						<label class="control-label span6" for="email">邮箱：&nbsp;&nbsp;</label>
						<div class="controls">
							<input type="text" id="email" placeholder="输入真实邮箱，方便找回密码">
							<span class="log"></span>
						</div>
					</div>

					<div class="row-fluid myform">
						<label class="control-label span6" for="verify">验证码：&nbsp;&nbsp;</label>
						<div class="controls">
							<input type="text" id="verify" placeholder="输入图片验证码" style="width:132px">
							<img src="/member/captcha" id="piceVerify"  style="height:38px" alt="">
							<a href="javascript:void(0)" id="rechangeVerify">看不清换一张</a>
							<span class="log"></span>
						</div>
					</div>
			
					<div class="row-fluid myform">
						<label class="control-label span6" for="inputEmail">&nbsp;&nbsp;</label>
						<div class="controls">
							<span class="rowbox">
						 		<div class="row-fluid">
						 			<div class="span12">
						 				<button class="btn btn-large btn-block btn-primary" id="Register" type="button">下一步</button>
						 			</div>
						 		</div>
						 	</span>
						</div>
					</div>
				</form>
			</div>

		<% include foot.html %>
	</div>

	<script type="text/javascript" src="/cdn/js/views/register.js"></script>

	<script type="text/javascript">
			
	</script>
</body>

</html>
