<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		<%= title %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/bootstrap-responsive.min.css">
	<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/cdn/bootstrap/css/ie.css">
		<![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="/cdn/bootstrap/js/html5.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/cdn/css/frame.css">
	<link rel="stylesheet" type="text/css" href="/cdn/css/ulist.css">
	<link rel="shortcut icon" href="/cdn/img/ico/favicon.ico">
</head>
<body>

	<div class="box">
		<% include left.html %>
		<% include head.html %>

		<div class="content">
			<h1><%= title %></h1>
			<p>用户名：<%= usermsg.username %></p>
			<p>邮箱：<%= usermsg.email || 无邮箱 %></p>
			<p>头像：
				<%if(!usermsg.avater){%>
					
						<img src="/cdn/img/avater/128x128/defalut.png" alt="">
				
				<%}else{%>
						<img src="/uploads/avater/128x128/<%= usermsg.avater %>" alt="">
				
				<%}%>
				
			</p>
			<p>性别：<% if(usermsg.gender==0){ %>男<% }else{ %>女<% } %></p>


			<p>签名：
				<%if(usermsg.aignature){%>
					<%if(usermsg.aignature.length>22){%>
						<% strs=usermsg.aignature.substring(0,21) %>
						<%= strs %>...
					<%} else {%>
							<%= usermsg.aignature %>
					<% } %>

				<%}else{%>
					<span>这家伙很懒，没有任何签名</span>
				<%}%>
			</p>

			<p>
				职业：
				<%if(usermsg.job){%>
					<%= usermsg.job %>
				<% }else{ %>
					无业
				<%}%>

			</p>
			<p>文章总数：<%= total %></p>
			<p>访问量：<%= totalPv %></p>

		</div>




		<hr>

		文章list


		<ul>

			<% artmsg.forEach(function(data){ %>
				<li>
					<a href="/article/<%= data.article_id %>">
						标题：<%= data.title %>

						|

						发布时间：<%= data.create_at %>

						|

						访问量：<%= data.pv %>
					</a>
					
				</li>
			<% }) %>
		</ul>




		<% include pagelimit.html %>

		<% include foot.html %>
	</div>

	<script src="/cdn/js/vendor/require.js" data-main="/cdn/js/main"></script>
	<script>
		require(["modules/ulist"],function(F){
			// F.register();
		})
	</script>
</body>

</html>
