<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="/adm/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/adm/bootstrap/css/bootstrap-responsive.min.css">

		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/adm/bootstrap/css/ie.css">
		<![endif]-->
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="/adm//adm/bootstrap/js/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="/adm/css/frame.css">
		<link rel="stylesheet" type="text/css" href="/adm/css/user.css">
		<link rel="shortcut icon" href="/adm/img/ico/favicon.ico">
		<script type="text/javascript" src="/adm/js/vendor/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/adm/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/adm/js/public.js"></script>
	</head>
	<body>
		<div class="box">
			<% include left.html %>
			<% include head.html %>
			
				
			<section class="crumbs">
				<i class="ico-dibiao"></i>
				<a href="home.html">首页</a> &gt; 
				<% crumbs.forEach(function(itmes,i){ %>
				 	<% if(itmes.content.href==null){ %>
				 		<% if(i < crumbs.length-1){ %>
				 			<%= itmes.content %> &gt; 
				 			<% return %>
				 		<% } %>
				 		  <%= itmes.content %> 
					<% } else {%>
						<% if(i < crumbs.length-1){ %>
							<a href="<%= itmes.href %>"> <%=  itmes.content  %></a> &gt; 
							<% return %>
				 		<% } %>
				 		<a href="<%= itmes.href %>"> <%=  itmes.content  %></a>
					<% } %>
				<% }) %>
			</section>
			<% include foot.html %>
		</div>
	</body>

	<% if (typeof home === 'undefined' ){ %> 
		<script type="text/javascript">
			setTimeout(function(){
				$("#left2bar").addClass("left2barshow");
				$("#pagecontent").addClass("pagecontentshow")

			},50)
		</script>
	<% }else{%>
		<script type="text/javascript">
			setTimeout(function(){
				$("#left2bar").removeClass("left2barshow");
				$("#pagecontent").removeClass("pagecontentshow")

			},50)
		</script>

	<%} %>

	
</html>