<div class="leftbar" id="leftbar">
	<ul>
		<% memu.forEach(function(items){ %>
			<li class=<% if(items.memuName == memuName){%> "active" <% } %>>
				<a href="<%= items.href %>">
					<i class="ico <%= items.ico %>"></i>
					<% if(typeof home === 'undefined'){ %>
						<i class="icoside ico-left" <% if(items.memuName == memuName){%> style="display: inline" <% } %>></i>
					<% } %>
					<%= items.name %>
				</a>
			</li>
		<% }) %>
	</ul>			
</div>
<div class="left2bar" id="left2bar">
	<div class="slidebtn">
		<div class="inbtnl">
			<i class="ico-left"></i>
		</div>
		<div class="inbtnr">
			<i class="ico-right"></i>
		</div>
	</div>
	<ul>
		<% memu.forEach(function(items){ %>
			<% if(typeof items.mid !== 'undefined'){ %>
				<% if(items.mid === mid){ %>
					<% items.level.forEach(function(levels){ %>
						<li class=<% if(typeof levels.level !=='undefined'){%>"bar2"<%} %>>
							<a href="<%= levels.href %>">
								<div class="row-fluid">
									<div class="span10"><%= levels.name %></div>
									<div class="span2">+</div>
								</div>
							</a>
							<% if(typeof levels.level !=='undefined'){%>
								<ul>
									<% levels.level.forEach(function(list){ %>
										<li>
											<a href="<%= list.href  %>"><%= list.name %></a>
										</li>
									<% }) %>
								</ul>
							<%} %>
						</li>
					<% }) %>
				<% } %>
			<% } %>
		<% }) %>
	</ul>
</div>
