<div class="leftbar" id="leftbar">
	<ul>
		<li class="active">
			<a href="home">
				<i class="ico ico-home"></i>
				首页
			</a>
		</li>
		<li class="toggle">
			<a href="javascript:void(0)">
				<i class="ico ico-user"></i>
				<i class="icoside ico-left"></i>
				会员管理
			</a>
		</li>
		<li class="toggle">
			<a href="javascript:void(0)">
				<i class="ico ico-article"></i>
				<i class="icoside ico-left"></i>
				文章管理
			</a>
		</li>
		<li class="toggle">
			<a href="javascript:void(0)">
				<i class="ico ico-pice"></i>
				<i class="icoside ico-left"></i>
				图片管理
			</a>
		</li>
		<li class="toggle">
			<a href="javascript:void(0)">
				<i class="ico ico-timeline"></i>
				<i class="icoside ico-left"></i>
				时光轴
			</a>
		</li>
		<li class="toggle">
			<a href="javascript:void(0)">
				<i class="ico ico-statistics"></i>
				<i class="icoside ico-left"></i>
				统计管理
			</a>
		</li>

		<li class="toggle">
			<a href="javascript:void(0)">
				<i class="ico ico-set"></i>
				<i class="icoside ico-left"></i>
				系统配置
			</a>
		</li>
	</ul>
				
</div>

<div class="left2bar" id="left2bar">

	<div class="slidebtn">
		<div class="inbtnl">
			<i class="ico-left"></i>
		</div>
		<div class="inbtnr">
			<i class="ico-right"></i>
		</div>
	</div>
	<ul>
		<li>
			<a href="javascript:void(0)">
				<div class="row-fluid">
					<div class="span10">添加会员</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<div class="row-fluid">
					<div class="span10">会员管理</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<div class="row-fluid">
					<div class="span10">会员博客管理</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>
	</ul>

	<ul>
		<li class="bar2">
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">管理员发布管理</div>
					<div class="span2">+</div>
				</div>
				<ul>
					<li> 
						<a href="javascript:void(0)">新闻公告</a>
					</li>
					<li> 
						<a href="javascript:void(0)">关于我们</a>
					</li>
					<li> 
						<a href="javascript:void(0)">普通文章</a>
					</li>
					
				</ul>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">会员发布管理</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>

	</ul>





	<ul>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">首页轮波图管理</div>
					<div class="span2">+</div>
				</div>
			</a>
			
		</li>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">广告图</div>
					<div class="span2">+</div>
				</div>
			</a>
			
		</li>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">LOGO</div>
					<div class="span2">+</div>
				</div>
			</a>
			
		</li>

		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">站长照片</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>

	
	
	</ul>
	<ul>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">管理时间轴</div>
					<div class="span2">+</div>
				</div>
			</a>
			
		</li>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">添加时间轴</div>
					<div class="span2">+</div>
				</div>
			</a>
			
		</li>
	</ul>



	<ul>
		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">会员统计</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">文章统计</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">浏览量</div>
					<div class="span2">+</div>
				</div>
			</a>
		</li>
	</ul>





	<ul>
		<li class="bar2">
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">前台系统管理</div>
					<div class="span2">+</div>
				</div>
			</a>
			<ul>
				 
					<li><a href="picturesmanagement_list.html">关键词描述</a></li>
					<li><a href="articlesmanagement_list.html">网站介绍</a></li>

					<li><a href="menusettings_list.html">菜单配置</a></li>
				
			</ul>

		</li>

		<li class="bar2">
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">系统参数配置</div>
					<div class="span2">+</div>
				</div>
			</a>
			<ul>
				 
					<li><a href="tipsmanagement.html">消息管理</a></li>
					<li><a href="tipsmanagement.html">邮箱管理</a></li>
				
			</ul>

		</li>

		<li class="bar2">
			<a href="javascript:void(0)" >
				<div class="row-fluid">
					<div class="span10">后台系统管理</div>
					<div class="span2">+</div>
				</div>
			</a>
			<ul>
				
					<li> <a href="managers_list.html">修改密码</a></li>
					<li> <a href="groupsofmanagers_list.html">添加管理员</a></li>
					<li> <a href="rightofmanagers.html">分配权限</a></li>
					<li> <a href="backsystempictures_list.html">后台图片配置</a></li>
					<li> <a href="log_list.html">操作日志</a></li>
					
				
			</ul>

		</li>
	</ul>
</div>